# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.pyc
# PyInstaller
#  Usually these files are created by the PyInstaller spec file
build/
dist/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific
.idea/
.vscode/
*.swp
*.swo